In [1]:
import requests
import pandas as pd

In [4]:
file_name = "../../data/dpc-covid19-ita-regioni.json"

In [6]:
data = pd.read_json(file_name)

,data,stato,codice_regione,denominazione_regione,lat,long,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,deceduti,totale_casi,tamponi,casi_testati,note_it,note_en
0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,0,5,NaN,,
1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,0,0,NaN,,
2,2020-02-24T18:00:00,ITA,21,P.A. Bolzano,46.499335,11.356624,0,0,0,0,0,0,0,0,0,0,1,NaN,,
3,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,0,1,NaN,,
4,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,0,10,NaN,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2263,2020-06-10T17:00:00,ITA,9,Toscana,43.769231,11.255889,40,15,55,484,539,-89,3,8531,1078,10148,280491,198466.0,,
2264,2020-06-10T17:00:00,ITA,22,P.A. Trento,46.068935,11.121231,6,1,7,73,80,-1,0,3895,464,4439,97739,52412.0,,
2265,2020-06-10T17:00:00,ITA,10,Umbria,43.106758,12.388247,13,2,15,13,28,-1,1,1332,76,1436,78366,55763.0,,
2266,2020-06-10T17:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,3,0,3,3,6,-2,0,1041,144,1191,16141,12502.0,,
2267,2020-06-10T17:00:00,ITA,5,Veneto,45.434905,12.338452,66,0,66,899,965,-39,3,16268,1961,19194,773316,362400.0,,